#words {
	padding-top: 10px;
}

@font-face {
 font-family: myfont;
 src: url(BebasNeue.otf);
}

html{
  background-color: #ffefd5;
  font-family: Arial;
}

img {
	position: relative;
	border: solid 2px black;
}
.navCol a {
 float: left;
 display: block;
 color: white;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 position: -webkit-sticky;
 position: sticky;
 position: relative;
 font-family: myfont;
 font-size: 20pt;
 padding-right: 80px;

}

.navCol a:hover {
 color: #FFA6A2;
}
.navCol {
 position: -webkit-sticky;
 position: sticky;
 top: 0;
 background-color: black ;
 padding: 10px;
 font-size: 20px;
 height:80px;
 z-index: 111;


}