html {
  font-family: Verdana;
}


@font-face {
  font-family: myfont;
  src: url(BebasNeue.otf);
}


div {
  padding-bottom: 10px;
}
#map {
  border: 3px solid black;
  position: absolute;
  width: 80%;
  height:520px;
  left: 125px;
  top:0px;

z-index: -1;
  background-color: black;
  position: relative;
  
}




.card0 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
  position: absolute;
  left: 40px;
  top: 700px;
  z-index: -1;
  
}

.card0:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 30px;
}

.card2 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
  position: absolute;
  left: 340px;
  top: 700px;
  z-index: -1;
 
}

.card2:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 30px;
}

.card7 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
 /* height: 52.05%;*/
  position: absolute;
  left: 640px;
  top: 700px;
  z-index: -1;
  
}

.card7:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 30px;
}




.navCol {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: black ;
  padding: 10px;
  font-size: 20px;  
  height:80px;
  z-index: 111;
 /* left: -5px;
  background-color: black;
  position: -webkit-sticky;
  position: sticky;
  top: 300px;
  width: 100%;*/
  
}

.navCol a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  position: -webkit-sticky;
  position: sticky;
  position: relative;
  font-family: myfont;
  font-size: 20pt;
  padding-right: 80px;

}

.navCol a:hover {
  color: #FFA6A2;
}

