@font-face {
  font-family: myfont;
  src: url(BebasNeue.otf);
}

html{
  background-color: #ffefd5;
  font-family: Arial;
}



.navCol {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: black ;
  padding: 10px;
  font-size: 20px;  
  height:80px;
  z-index: 111;
 /* left: -5px;
  background-color: black;
  position: -webkit-sticky;
  position: sticky;
  top: 300px;
  width: 100%;*/
  
}

.navCol a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  position: -webkit-sticky;
  position: sticky;
  position: relative;
  font-family: myfont;
  font-size: 20pt;
  padding-right: 80px;

}

.navCol a:hover {
  color: #FFA6A2;
}


.header {
  position: absolute;
  left: 40px;
  font-size: xx-large;
  text-decoration: underline;
  top:200px;
}

.header2 {

  position: absolute;
  left: 40px;
  top: 200px;
}

.LosFresnos{
  position: absolute;
  margin: 9px;
  padding-left: 9px;
  top: 150px;
}


.colright {
  position: absolute;
  left: 715px;
  top: 290px;

}
.info {
  padding-left: 10px;
  width: 550px;
  height: 380px;
  line-height: 55px;
}
