/*#row {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	-webkit-font-smoothing: antialiased;
	background-blend-mode: multiply;
	background-size: cover;
	background-position: center;
	top: 230px;
	position: absolute;
	left: 100px;
}
#heading {
	font-weight: 600;
	font-size: 4rem;
	margin-bottom: 0;
	outline: none;
	top: 300px;
	position: absolute;
	left: 100px;
}*/

/*.button {
	font-size: 1rem;
	padding: .5rem 1.1rem .4rem;
	border: 1px solid;
	border-radius: 1rem;
	background: none;
	color: inherit;
	display: inline-block;
	text-decoration: none;
	top: 240px;
	position: absolute;
	left: 50%;
}*/

@font-face {
  font-family: myfont;
  src: url(BebasNeue.otf);
}

.navCol {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: black	;
  padding: 10px;
  font-size: 20px;	
  height:80px;
  z-index: 111;
  /*left: -5px;
  background-color: black;
  position: -webkit-sticky;
  position: sticky;
  top: 300px;
  width: 100%;*/
  
}

.navCol a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  position: -webkit-sticky;
  position: sticky;
  font-family: myfont;
  font-size: 20pt;
  padding-right: 80px;
  /*position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: yellow;
  padding: 50px;
  font-size: 20px;*/
 

}

.navCol a:hover {
  color: #FFA6A2;
}

img{
z-index: -1;
-webkit-filter: grayscale(70%); 
  filter: grayscale(70%);
  background-color: black;
  position: relative;
  left: -15px;
}

#heading {
	font-family: myfont;
	color:  black;
	text-shadow: 2px 2px /* #b30000*/;
	position: absolute;
	top: 530px;
	left:150px;
	z-index: 2;
	font-size: 60pt;

}

.arrow-down {
 width: 30px;
 height: 10px;
 border-left: 40px solid transparent;
 border-right: 40px solid transparent;
 position: absolute;
 top: 630px;
 left: 590px;
 border-top: 40px solid black;
 border-bottom: 50px;


}




