div {
  padding-bottom: 10px;
}
#map {
  border: 3px solid black;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  /*position: absolute;
  left: 40px;
  top: 40px;*/
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 30px;
}

.card1 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
  position: absolute;
  left: 340px;
  top: 40px;
}

.card1:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 30px;
}

.card2 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
  height: 52.05%;
  position: absolute;
  left: 640px;
  top: 40px;
}

.card2:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 30px;
}
.navCol a {
 float: left;
 display: block;
 color: white;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 position: -webkit-sticky;
 position: sticky;
 position: relative;
 font-family: myfont;
 font-size: 20pt;
 padding-right: 80px;

}

.navCol a:hover {
 color: #FFA6A2;
}
.navCol {
 position: -webkit-sticky;
 position: sticky;
 top: 0;
 background-color: black ;
 padding: 10px;
 font-size: 20px;
 height:80px;
 z-index: 111;
}