<!DOCTYPE html>
<html>
<head>
  <title>Detention Center</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<style type="text/css">
   div {
  padding-bottom: 10px;
}

html {
  font-family: Verdana;
}


@font-face {
  font-family: myfont;
  src: url(BebasNeue.otf);
}


div {
  padding-bottom: 10px;
}
#map {
  border: 3px solid black;
  /*position: absolute;
  width: 80%;
  height:520px;
  left: 125px;
  top:0px;*/


  
}




.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  /*width: 20%;
  position: absolute;
  left: 40px;
  top: 300px;
  z-index: -1;*/
  
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 30px;
}

.card1 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
  position: absolute;
  left: 340px;
  top: 300px;
  z-index: -1;
 
}

.card1:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 30px;
}

.card2 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
 /* height: 52.05%;*/
  position: absolute;
  left: 640px;
  top: 300px;
  z-index: -1;
  
}

.card2:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 30px;
}




.navCol {
  position: -webkit-sticky;
 position: sticky;
 top: 0;
 background-color: black ;
 padding: 10px;
 font-size: 20px;
 height:80px;
 z-index: 111;
  
}

.navCol a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  position: -webkit-sticky;
  position: sticky;
  position: relative;
  font-family: myfont;
  font-size: 20pt;
  padding-right: 80px;

}

.navCol a:hover {
  color: #FFA6A2;
}

</style>

</head>

<body>

  <div class = "navCol" id="navCol">
    <p>
      <a href= "/about">About</a>
      <a href= "/centers">Detention Center</a>
      <a href= "/states">Destination States</a>
      <a href= "/nations">Countries of Origin</a>
      <a href="/">Home</a>           
    </p>
  </div>



<div class="container-fluid">
<div class="row">
<h1 class="col-sm-12" id="header"></h1>
</div>
</div>

<div class="row">

  <img class="col-sm-12" src="https://www.cs.utexas.edu/~dbradham/dc_map.png" alt="Heat Map of Deportations in the US States" id="map" style="height:630px;">

</div>

    <form action = "/centers" method = "POST">

    <select id="sorting" name = "sorting">
        <option value="0">Sort</option>
        <option value="11">Name A-Z</option>
        <option value="12">Name Z-A</option>
        <option value="21">Deported Percentage: Ascending</option>
        <option value="22">Deported Percentage: Descending</option>
    </select>
        <input type = "submit" value = "Submit" />
    </form>
    <br>
<div class ="row">
<!-- <div class="card0"> -->
  {% if centers == []  %}
        <p>No Centers in Database</p>
    {% else %}
        {% for i in centers %}
            {% for j in nations%}
                {% if i.highest_nationality_denomination == j.name %}
            {% for k in states%}
                {% if i.state == k.name %}
          <div class="col-md-3">
            <div class="card" id={{i.id}}><img src = {{i.image_link}} alt={{i.name}} style="width: 100%; height: 200px;">
            <div class="container">
            <h4><a data-name = "{{i.name}}" href="{{url_for('specificCenter', center_id = i.center_id)}}">{{i.name}}</a></h4>
              <p>City: {{i.city}}
                  <br> State: <a data-name = "{{i.state}}" href="{{url_for('specificState', state_id = k.state_id)}}">{{i.state}}</a>
                  <br>Deported Percentage: {{i.deported_percentage}}
                  <br>Highest Nationality Denomination: <a data-name = "{{i.highest_nationality_denomination}}" href="{{url_for('specificNation', nation_id = j.nation_id)}}">{{i.highest_nationality_denomination}}</a></p>
            </div>
          </div>
        </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endif %}

</div>



</body>
</html>
