<!DOCTYPE html>
<html>
	<head>
		<title>Nations of Origin</title>
		<link rel = "stylesheet" title = "basic style" type="text/css" href="static/css/nations.css" media = "all">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
    div {
  padding-bottom: 10px;
}
#map {
  border: 3px solid black;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  /*position: absolute;
  left: 40px;
  top: 40px;*/
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 30px;
}

.card1 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
  position: absolute;
  left: 340px;
  top: 40px;
}

.card1:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 30px;
}

.card2 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
  height: 52.05%;
  position: absolute;
  left: 640px;
  top: 40px;
}

.card2:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 30px;
}
@font-face {
 font-family: myfont;
 src: url(BebasNeue.otf);
}

html{
  background-color: #ffefd5;
}

img {
  position: relative;
  border: solid 2px black;
}
.navCol a {
 float: left;
 display: block;
 color: white;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 position: -webkit-sticky;
 position: sticky;
 position: relative;
 font-family: myfont;
 font-size: 20pt;
 padding-right: 80px;

}

.navCol a:hover {
 color: #FFA6A2;
}
.navCol {
 position: -webkit-sticky;
 position: sticky;
 top: 0;
 background-color: black ;
 padding: 10px;
 font-size: 20px;
 height:80px;
 z-index: 111;
}
    
    </style>   
	</head>
	<body>

        <div class = "navCol" id="navCol">
            <p>
              <a href= "/about">About</a>
              <a href= "/centers">Detention Center</a>
              <a href= "/states">Destination States</a>
              <a href= "/nations">Countries of Origin</a>
              <a href="/">Home</a>          
            </p>
        </div>


<div class ="container-fluid">
<div class="row">

  <img class="col-sm-12" src="https://www.cs.utexas.edu/~dbradham/nation_map.png" alt="Map of detention centers with high nationality concentrations" id="map" style="height:630px;margin-top:10px;">

</div>
    
    <form action = "/nations" method = "POST">

    <select id="sorting" name = "sorting">
        <option value="0">Sort</option>
        <option value="11">Name A-Z</option>
        <option value="12">Name Z-A</option>
        <option value="21">Remittances: Ascending</option>
        <option value="22">Remittances: Descending</option>
    </select>
        <input type = "submit" value = "Submit" />
    </form>
    <br>

		<div class="row">
			{% if nations == []  %}
        <p>No Nations in Database</p>

    {% else %}
        {% for i in nations %}
            {% for j in states %}
                {% if i.state_of_highest_emigration == j.name %}
            <div class="col-sm-3">
				<div class="card" id={{i.name}}>
					<img src = {{i.img_link}} style="height: 200px;" alt={{i.name}}>
					<div class="container"><h4>
                        <a data-name = "{{i.name}}" href="{{url_for('specificNation', nation_id = i.nation_id)}}">{{i.name}}</a>
                    </h4><p>State with Most Detained: <a data-name = "{{i.state_of_highest_emigration}}" href="{{url_for('specificState', state_id = j.state_id)}}">{{i.state_of_highest_emigration}}</a>: {{i.stata_data}}
                        <br> Center with Most Detained: {{i.corresponding_center_with_highest_percent}}<br>  Remittances: {{i.remitances}}</p>
					</div>
				</div>
			</div>
            {% endif %}
            {% endfor %}
        {% endfor %}
    {% endif %}
    </div>
    </div>
	</body>
</html>
