<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{nation.name}}</title>
	<link rel = "stylesheet" title = "basic stlye" type="text/css" href="static/css/specific.css" media = "all">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">

<style type="text/css">
	#words {
	padding-top: 10px;
}

@font-face {
 font-family: myfont;
 src: url(BebasNeue.otf);
}

html{
  background-color: #ffefd5;
  font-family: Arial;
}

img {
	position: relative;
	border: solid 2px black;
}
.navCol a {
 float: left;
 display: block;
 color: white;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 position: -webkit-sticky;
 position: sticky;
 position: relative;
 font-family: myfont;
 font-size: 20pt;
 padding-right: 80px;

}

.navCol a:hover {
 color: #FFA6A2;
}
.navCol {
 position: -webkit-sticky;
 position: sticky;
 top: 0;
 background-color: black ;
 padding: 10px;
 font-size: 20px;
 height:80px;
 z-index: 111;


}

</style>
</head>

<body>
    <div class = "navCol" id="navCol">
        <p>
	        <a href= "/about">About</a>
	        <a href= "/centers">Detention Center</a>
	        <a href= "/states">Destination States</a>
	        <a href= "/nations">Countries of Origin</a>
	        <a href="/">Home</a>          
        </p>
    </div>

	
	<div class="container-fluid" style="background-color: #ffefd5">
		<div class="row">
			<h1 class="col-sm-6">{{nation.name}}</h1>
			<h3 class="col-sm-3">GDP per capita:{{nation.gdp}}</h3>
			<h3 class="col-sm-3">Homicide Rate:{{nation.homicide_rate}}</h3>
		</div>

<div class="row">
<div class="col-sm-1"></div>
<img class = "col-sm-4" src= {{nation.img_link}} alt="Country Flag" style="padding:0px;border:solid 2px black;">

<p class="col-sm-5" id="words">
	Immigrants from the Nation of {{nation.name}} were most commonly apprehended in {{nation.state_of_highest_emigration}} total departures. 
	<br><br>The Detention Center which detained the highest number of immigrants from the nation of {{nation.name}} was {{nation.corresponding_center_with_highest_percent}}. 
	<br><br>Immigrants in the US from {{nation.name}} sent back an estimated ${{nation.remitances}} in remittances.
</p>
</div>
<div class="col-sm-2"></div>

</div>
</body>
</html>