<!DOCTYPE html>
<html>
<head>
	<title>{{center.name}}</title>
	

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">

<style type="text/css">
	@font-face {
  font-family: myfont;
  src: url(BebasNeue.otf);
}

html{
  background-color: #ffefd5;
  font-family: Arial;
}



.navCol {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: black ;
  padding: 10px;
  font-size: 20px;  
  height:80px;
  z-index: 111;
 /* left: -5px;
  background-color: black;
  position: -webkit-sticky;
  position: sticky;
  top: 300px;
  width: 100%;*/
  
}

.navCol a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  position: -webkit-sticky;
  position: sticky;
  position: relative;
  font-family: myfont;
  font-size: 20pt;
  padding-right: 80px;

}

.navCol a:hover {
  color: #FFA6A2;
}


.header {
  position: absolute;
  left: 40px;
  font-size: xx-large;
  text-decoration: underline;
  top:200px;
}

.header2 {

  position: absolute;
  left: 40px;
  top: 200px;
}

.LosFresnos{
  position: absolute;
  margin: 9px;
  padding-left: 9px;
  top: 150px;
}


.colright {
  position: absolute;
  left: 715px;
  top: 290px;

}
.info {
  padding-left: 10px;
  width: 550px;
  height: 380px;
  line-height: 55px;
}

</style>	
</head>

<body>

    <div class = "navCol" id="navCol">
        <p>
	        <a href= "/about">About</a>
	        <a href= "/centers">Detention Center</a>
	        <a href= "/states">Destination States</a>
	        <a href= "/nations">Countries of Origin</a>
	        <a href="/">Home</a>           
        </p>
    </div>

<div class="container-fluid" >

<div class = "row" style = "background-color: #ffefd5;">
<div class = "col-sm-9" id= "header">
	<h1> {{center.name}} </h1>

</div>

<div class = "col-sm-3" id="header2">
<h3> {{center.city}}, {{center.state}} </h3>
</div>

</div>

<div class="row" style = "background-color: #ffefd5;">
<div class="col-sm-5">
<iframe width="600" height="400" id="gmap_canvas"
src="{{center.map_link}}" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
</iframe><a href="https://www.emojilib.com"></a></div><style>.mapouter{position:relative;text-align:right;height:400px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:400px;width:600px;}</style>

<div class="col-sm-7" style = "background-color: #ffefd5;padding-top: 80px;">
	<div class = "info">
	<p> Total Detained: {{center.total_detained}} <br>
		Number Departed: {{center.num_departed}} <br>
		Type: {{center.type}} <br>
		Highest Nationality Denomination: {{center.highest_nationality_denomination}} <br>
		Highest Nationality Percentage: {{center.highest_nationality_percentage}} <br>
		Deported Percentage: {{center.deported_percentage}} </p>
	</div>
</div>
</div>
</div>
</body>
</html>