<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{state.name}}</title>

	<style type="text/css">
		#words {
	padding-top: 10px;
}

@font-face {
 font-family: myfont;
 src: url(BebasNeue.otf);
}

html{
  background-color: #ffefd5;
  font-family: Arial;
}

img {
	position: relative;
	border: solid 2px black;
}
.navCol a {
 float: left;
 display: block;
 color: white;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 position: -webkit-sticky;
 position: sticky;
 position: relative;
 font-family: myfont;
 font-size: 20pt;
 padding-right: 80px;

}

.navCol a:hover {
 color: #FFA6A2;
}
.navCol {
 position: -webkit-sticky;
 position: sticky;
 top: 0;
 background-color: black ;
 padding: 10px;
 font-size: 20px;
 height:80px;
 z-index: 111;


}

	</style>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class = "navCol" id="navCol">
        <p>
	        <a href= "/about">About</a>
	        <a href= "/centers">Detention Center</a>
	        <a href= "/states">Destination States</a>
	        <a href= "/nations">Countries of Origin</a>
	        <a href="/">Home</a>          
        </p>
    </div>

	<div class="container-fluid" style="background-color: #ffefd5">
		<div class="row">
			<h1 class="col-sm-6">{{state.name}}</h1>
			<h3 class="col-sm-3">GDP per capita:{{state.gdp}}</h3>
			<h3 class="col-sm-3">Homicide Rate:{{state.homicide_rate}}</h3>
		</div>

<div class="row">
<div class="col-sm-1"></div>
<img class = "col-sm-4" src= {{state.image_link}} alt="State Flag" style="padding:0px;border:solid 2px black;">
<p class="col-sm-6" id="words">There are {{state.number_of_centers}} Detention Centers in {{state.name}}. The total number of apprehensions in {{state.name}} was {{state.number_of_incarcerations}}. 
{{state.number_of_departures}} of these were departed. {{state.deportation_percentage}}% of these departures were deportations. 
<br><br>The most targeted nationality was {{state.highest_nationality_denomination}} which constituted {{state.highest_nationality_percentage}}% of all departures in {{state.name}}. 
<br><br>The most populated center was {{state.center_with_highest_population}} departures.</p>
</div>
<div class="col-sm-1"></div>

</div>
</body>
</html>
