<!DOCTYPE html>
<html lang="en">
<head>
	<title>United States</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">

<style type="text/css">
    div {
  padding-bottom: 10px;
}
#map {
  border: 3px solid black;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  /*position: absolute;
  left: 40px;
  top: 40px;*/
}
@font-face {
  font-family: myfont;
  src: url(BebasNeue.otf);
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 30px;
}

.card1 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
  position: absolute;
  left: 340px;
  top: 40px;
}

.card1:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 30px;
}

.card2 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
  height: 52.05%;
  position: absolute;
  left: 640px;
  top: 40px;
}

.card2:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 30px;
}
.navCol a {
 float: left;
 display: block;
 color: white;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 position: -webkit-sticky;
 position: sticky;
 position: relative;
 font-family: myfont;
 font-size: 20pt;
 padding-right: 80px;

}

.navCol a:hover {
 color: #FFA6A2;
}
.navCol {
 position: -webkit-sticky;
 position: sticky;
 top: 0;
 background-color: black ;
 padding: 10px;
 font-size: 20px;
 height:80px;
 z-index: 111;
}

</style>
</head>

<body>
    <div class = "navCol" id="navCol">
        <p>
            <a href= "/about">About</a>
            <a href= "/centers">Detention Center</a>
            <a href= "/states">Destination States</a>
            <a href= "/nations">Countries of Origin</a>
            <a href="/">Home</a>            
        </p>
    </div>

<div class="container-fluid">
<div class="row">
<h1 class="col-sm-12" id="header"></h1>
</div>
</div>

<div class="row">

	<img class="col-sm-12" src="static/images/state_map.png" alt="Chloropleth Map of Deportations in the US States" id="map">

</div>
    <form action = "/states" method = "POST">

    <select id="sorting" name = "sorting">
        <option value="0">Sort</option>
        <option value="11">Name A-Z</option>
        <option value="12">Name Z-A</option>
        <option value="21">Deported Percentage: Ascending</option>
        <option value="22">Deported Percentage: Descending</option>
    </select>
        <input type = "submit" value = "Submit" />
    </form>

<div class="row">
    {% if states == []  %}
        <p>No States in Database</p>
    {% else %}
        {% for i in states %}
            {% for j in nations%}
                {% if i.highest_nationality_denomination == j.name %}
                    {% for k in centers%}
                        {% if i.center_with_highest_population == k.name %}
            <div class="col-md-3">
                <div class="card" id={{i.id}}><img src = {{i.image_link}} style="width: 100%; height: 200px;" alt={{i.name}}>
		        <div class="container">
                    <h4><a data-name = "{{i.name}}" href="{{url_for('specificState', state_id = i.state_id)}}">{{i.name}}</a></h4>
                    <p>Highest Detained From: <a data-name = "{{i.highest_nationality_denomination}}" href="{{url_for('specificNation', nation_id = j.nation_id)}}">{{i.highest_nationality_denomination}}</a>: {{i.highest_nationality_percentage}}%
                    <br>Most Populated Center: <a data-name = "{{i.center_with_highest_population}}" href="{{url_for('specificCenter', center_id = k.center_id)}}">{{i.center_with_highest_population}}</a>: {{i.center_data}}
                    <br> Deported Percentage: {{i.deportation_percentage}}</p>
                </div>
                </div>
            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endif %}
</div>

</body>
</html>
